@model LocFarma.Models.Produto

@{
    ViewData["Title"] = "Produto";
}

<!-- Produto -->
<div class="container mt-4">
    <div class="row">
        <div class="col-lg-6 text-center">
            <img src="~/imgs/produtos/@Model.NomeFoto" alt="@Model.Nome" class="border produto-detalhe">
        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="col-sm-6 mt-2">
                    <h2>@Model.Nome</h2>
                    <p class="h4">R$ @Model.Preco</p>
                </div>
                <div class="col-sm-6 mt-2">
                    <h5>@Model.Quantidade disponíveis</h5>
                    <button class="btn btn-primary">Ler Bula</button>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-12">
                    <h4>Descrição</h4>
                    <p>O @Model.Nome auxilia no funcionamento do sistema imunológico, ajudando a fortalecer o sistema imune.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-lg-12">
            <h4>Produtos Relacionados</h4>
        </div>
    </div>
</div>

<!-- Carousel de Produtos -->
<div id="relatedProductsCarousel" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="row d-flex justify-content-center">
                <div class="col-sm-2">
                    <div class="card my-3">
                        <img class="produto-relacionado" src="~/imgs/produtos_relacionados/redoxon.jpg" alt="Produto 1">
                        <div class="card-body">
                            <h5 class="card-title">Redoxon</h5>
                            <p class="card-text">R$ 0,00</p>
                            <a href="produto.html" class="btn btn-primary">Ver Detalhes</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="card my-3">
                        <img class="produto-relacionado" src="~/imgs/produtos_relacionados/vitamina_A.jpg" alt="Produto 2">
                        <div class="card-body">
                            <h5 class="card-title">Vitamina A</h5>
                            <p class="card-text">R$ 0,00</p>
                            <a href="produto.html" class="btn btn-primary">Ver Detalhes</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="card my-3">
                        <img class="produto-relacionado" src="~/imgs/produtos_relacionados/vitamina_C.png" alt="Produto 3">
                        <div class="card-body">
                            <h5 class="card-title">Vitamina C</h5>
                            <p class="card-text">R$ 0,00</p>
                            <a href="produto.html" class="btn btn-primary">Ver Detalhes</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="card my-3">
                        <img class="produto-relacionado" src="~/imgs/produtos_relacionados/vitamina_D.jpg" alt="Produto 4">
                        <div class="card-body">
                            <h5 class="card-title">Vitamina D3</h5>
                            <p class="card-text">R$ 0,00</p>
                            <a href="produto.html" class="btn btn-primary">Ver Detalhes</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="card my-3">
                        <img class="produto-relacionado" src="~/imgs/produtos_relacionados/acnezil.jpg" alt="Produto 5">
                        <div class="card-body">
                            <h5 class="card-title">Acnezil</h5>
                            <p class="card-text">R$ 0,00</p>
                            <a href="produto.html" class="btn btn-primary">Ver Detalhes</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row d-flex justify-content-center">
                <div class="col-sm-2">
                    <div class="card my-3">
                        <img class="produto-relacionado" src="~/imgs/produtos_relacionados/vitamina_E.jpg" alt="Produto 6">
                        <div class="card-body">
                            <h5 class="card-title">Vitamina E</h5>
                            <p class="card-text">R$ 0,00</p>
                            <a href="produto.html" class="btn btn-primary">Ver Detalhes</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="card my-3">
                        <img class="produto-relacionado" src="~/imgs/produtos_relacionados/vitamina_K.jpg" alt="Produto 7">
                        <div class="card-body">
                            <h5 class="card-title">Vitamina K2</h5>
                            <p class="card-text">R$ 0,00</p>
                            <a href="produto.html" class="btn btn-primary">Ver Detalhes</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="card my-3">
                        <img class="produto-relacionado" src="~/imgs/produtos_relacionados/zinco.jpg" alt="Produto 8">
                        <div class="card-body">
                            <h5 class="card-title">Vitamina E</h5>
                            <p class="card-text">R$ 0,00</p>
                            <a href="produto.html" class="btn btn-primary">Ver Detalhes</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="card my-3">
                        <img class="produto-relacionado" src="~/imgs/produtos_relacionados/omega_3.jpg" alt="Produto 9">
                        <div class="card-body">
                            <h5 class="card-title">Ômega 3</h5>
                            <p class="card-text">R$ 0,00</p>
                            <a href="produto.html" class="btn btn-primary">Ver Detalhes</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="card my-3">
                        <img class="produto-relacionado" src="~/imgs/produtos_relacionados/doricin.jpg" alt="Produto 10">
                        <div class="card-body">
                            <h5 class="card-title">Doricin</h5>
                            <p class="card-text">R$ 0,00</p>
                            <a href="produto.html" class="btn btn-primary">Ver Detalhes</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#relatedProductsCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bg-secondary" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#relatedProductsCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bg-secondary" aria-hidden="true"></span>
        <span class="visually-hidden">Próximo</span>
    </a>
</div>

<!-- Chat -->
<div id="chat-icon">
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-chat-dots-fill" viewBox="0 0 16 16">
        <path d="M16 8c0 3.866-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7zM5 8a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
    </svg>
</div>

<div id="chat" class="chat">
    <div class="chat-header">
        Chat
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x close-chat close float-end" viewBox="0 0 16 16">
            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
        </svg>
    </div>
    <div class="chat-body">
        Envie uma mensagem para a farmácia.
    </div>
    <div class="chat-footer">
        <input type="text" class="form-control me-2" placeholder="Digite uma mensagem">
        <button class="btn btn-primary">Enviar</button>
    </div>
</div>

<script>
    document.getElementById("chat-icon").addEventListener("click", function() {
        document.getElementById("chat-icon").style.display = "none";
        document.getElementById("chat").style.display = "block";
    });

    document.querySelector(".close").addEventListener("click", function() {
        document.getElementById("chat-icon").style.display = "block";
        document.getElementById("chat").style.display = "none";
    });
</script>